@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ColfaxAIBold";
  src: url("../public/fonts/ColfaxAIBold.otf");
}
@font-face {
  font-family: "ColfaxAIRegular";
  src: url("../public/fonts/ColfaxAIRegular.otf");
}

body{
  background-color: #FAFBFD;
}

* {
  font-family: "ColfaxAIRegular", Helvetica, sans-serif;
}

.font-regular {
  font-family: "ColfaxAIRegular", Helvetica, sans-serif;
}
.font-bold {
  font-family: "ColfaxAIBold", Helvetica, sans-serif;
}

/* disable the resizable property of a textarea */
textarea {
  resize: none;
}
