@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../public/font/Satoshi-Variable.ttf");
}

* {
  font-family: "Satoshi-Variable";
}
